dist

*.hxl
bin/*
!dist/bibtex2bibjson.js
!dist/bibtex2bibjson.d.ts

tests
coverage
docs
!docs/cover.jpg
assets
src
external
examples

CMakeLists.txt
.clang-format
.flowconfig
webpack.ts
.travis.yml
.vscode
example
.gitmodules

!docs/cover.svg